<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos - Huevos Max Campos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="container">
        <nav>
            <a href="{{ url_for('index') }}">Inicio</a>
            <a href="{{ url_for('inventory') }}">Inventario</a>
            <a href="{{ url_for('list_products') }}">Productos</a>
            <a href="{{ url_for('buy') }}">Comprar</a>
            <a href="{{ url_for('edit_profile') }}">Perfil</a>
            <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
        </nav>
        <h1>Lista de Productos</h1>
        {% if is_admin %}
            <h2>Inventario de Huevos</h2>
            <h3>Huevos Rojos</h3>
            <ul>
                <li>Tamaño A: {{ stock.rojo.A }} unidades</li>
                <li>Tamaño AA: {{ stock.rojo.AA }} unidades</li>
                <li>Tamaño B: {{ stock.rojo.B }} unidades</li>
                <li>Tamaño EXTRA: {{ stock.rojo.EXTRA }} unidades</li>
            </ul>
            <h3>Huevos Blancos</h3>
            <ul>
                <li>Tamaño A: {{ stock.blanco.A }} unidades</li>
                <li>Tamaño AA: {{ stock.blanco.AA }} unidades</li>
                <li>Tamaño B: {{ stock.blanco.B }} unidades</li>
                <li>Tamaño EXTRA: {{ stock.blanco.EXTRA }} unidades</li>
            </ul>
            <a href="{{ url_for('register_product') }}">Registrar Nuevo Producto</a>
        {% endif %}
        <h2>Productos</h2>
        {% for product in products %}
            <div class="product">
                <h3>{{ product.nombre_producto }}</h3>
                <p>ID: {{ product.product_id }}</p>
                <p>Descripción: {{ product.descripcion }}</p>
                <p>Cantidad: {{ product.cantidad }}</p>
                <p>Valor Unitario: ${{ product.valor_unitario }}</p>
                {% if product.imagen %}
                    <img src="{{ url_for('view_image', product_id=product.product_id) }}" alt="{{ product.nombre_producto }}" width="100">
                {% endif %}
                {% if is_admin %}
                    <a href="{{ url_for('edit_product', product_id=product.product_id) }}">Editar</a>
                    <a href="{{ url_for('delete_product', product_id=product.product_id) }}">Eliminar</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
</html>